# Happy Customer Bank 
is a mid-sized private bank that deals in all kinds of banking products, like Savings accounts, Current accounts, investment products, credit products, among other offerings.

The bank also cross-sells products to its existing customers and to do so they use different kinds of communication like tele-calling, e-mails, recommendations on net banking, mobile banking, etc.

In this case, the Happy Customer Bank wants to cross sell its credit cards to its existing customers. The bank has identified a set of customers that are eligible for taking these credit cards " **Is_Lead** " column.

Now, the bank is looking for my help to identify customers that could show higher intent towards a recommended credit card.

# Lets go !!!

### 1. Understand the Data: Inspect, explore, and understand the features.

In [1132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sns

In [1133]:
df = pd.read_csv("train data credit card.csv")

In [1134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245725 entries, 0 to 245724
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   245725 non-null  object
 1   Gender               245725 non-null  object
 2   Age                  245725 non-null  int64
 3   Region_Code          245725 non-null  object
 4   Occupation           245725 non-null  object
 5   Channel_Code         245725 non-null  object
 6   Vintage              245725 non-null  int64
 7   Credit_Product       216400 non-null  object
 8   Avg_Account_Balance  245725 non-null  int64
 9   Is_Active            245725 non-null  object
 10  Is_Lead              245725 non-null  int64
dtypes: int64(4), object(7)
memory usage: 20.6+ MB

In [1135]:
df.head(10)

,ID,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active,Is_Lead
0,NNVBBKZB,Female,73,RG268,Other,X3,43,No,1045696,No,0
1,IDD62UNG,Female,30,RG277,Salaried,X1,32,No,581988,No,0
2,HD3DSEMC,Female,56,RG268,Self_Employed,X3,26,No,1484315,Yes,0
3,BF3NC7KV,Male,34,RG270,Salaried,X1,19,No,470454,No,0
4,TEASRWXV,Female,30,RG282,Salaried,X1,33,No,886787,No,0
5,ACUTYTWS,Male,56,RG261,Self_Employed,X1,32,No,544163,Yes,0
6,ETQCZFEJ,Male,62,RG282,Other,X3,20,NaN,1056750,Yes,1
7,JJNJUQMQ,Female,48,RG265,Self_Employed,X3,13,No,444724,Yes,0
8,ZMQFYKCB,Female,40,RG283,Self_Employed,X2,38,No,1274284,No,0
9,NVKTFBA2,Female,55,RG268,Self_Employed,X2,49,Yes,2014239,No,0

In [1136]:
df.describe()

                 Age        Vintage  Avg_Account_Balance        Is_Lead
count  245725.000000  245725.000000         2.457250e+05  245725.000000
mean       43.856307      46.959141         1.128403e+06       0.237208
std        14.828672      32.353136         8.529364e+05       0.425372
min        23.000000       7.000000         2.079000e+04       0.000000
25%        30.000000      20.000000         6.043100e+05       0.000000
50%        43.000000      32.000000         8.946010e+05       0.000000
75%        54.000000      73.000000         1.366666e+06       0.000000
max        85.000000     135.000000         1.035201e+07       1.000000

In [1137]:
df.isna().sum()

ID                         0
Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         29325
Avg_Account_Balance        0
Is_Active                  0
Is_Lead                    0
dtype: int64

### 2. Handle Missing Data: Drop or impute missing values.
### 3. Feature Engineering: Transform, create, or encode new features.

In [1139]:
df["Sex"] = df["Gender"].map({"Male" : 0 , "Female" : 1})
df["Active"] = df["Is_Active"].map({"No" : 0 , "Yes" : 1})
df["Job"] = df["Occupation"].map({"Self_Employed" : 0 , "Salaried" : 1, "Other" : 2, "Entrepreneur" : 3})
df["Ch_Code"] = df["Channel_Code"].map({"X1" : 0 , "X2" : 1, "X3" : 2, "X4" : 3})
df = df.dropna(subset=["Credit_Product"], axis=0)
df["Cred_Product"] = df["Credit_Product"].map({"No" : 0 , "Yes" : 1})



df = df.drop("ID", axis=1)
df = df.drop("Gender", axis=1)
df = df.drop("Is_Active", axis=1)
df = df.drop("Occupation", axis=1)
df = df.drop("Channel_Code", axis=1)
df = df.drop("Credit_Product", axis=1)


df.head()

,Age,Region_Code,Vintage,Avg_Account_Balance,Is_Lead,Sex,Active,Job,Ch_Code,Cred_Product
0,73,RG268,43,1045696,0,1,0,2,2,0
1,30,RG277,32,581988,0,1,0,1,0,0
2,56,RG268,26,1484315,0,1,1,0,2,0
3,34,RG270,19,470454,0,0,0,1,0,0
4,30,RG282,33,886787,0,1,0,1,0,0

In [1140]:
df["Region_Code"] = pd.to_numeric(df["Region_Code"].str.replace("RG", ""), errors="coerce")

In [1141]:
df.tail()

,Age,Region_Code,Vintage,Avg_Account_Balance,Is_Lead,Sex,Active,Job,Ch_Code,Cred_Product
245719,38,280,13,354665,0,1,0,1,1,1
245721,27,268,15,862952,0,0,1,1,0,0
245722,26,281,13,670659,0,1,0,1,0,0
245723,28,273,31,407504,0,1,0,1,0,0
245724,29,269,21,1129276,0,0,0,1,0,0

### 4. Handle Outliers: Detect and handle extreme values. (No Need as there are no extremes)

### 5. Split Data: Create training and testing datasets.

In [1144]:
from sklearn.model_selection import train_test_split

In [1145]:
X = df.drop('Is_Lead', axis=1)
Y = df["Is_Lead"]

### 6. Train the Model: Fit the model to the training data.

In [1147]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=10000)
model.fit(X, Y)

LogisticRegression(max_iter=10000)

### 7. Evaluate the Model: Test the model and evaluate its performance.

In [1149]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

Accuracy: 84.61%

## Solution

In [1151]:
dftest = pd.read_csv("test data credit card.csv")

In [1152]:
dftest.head()

,ID,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active
0,VBENBARO,Male,29,RG254,Other,X1,25,Yes,742366,No
1,CCMEWNKY,Male,43,RG268,Other,X2,49,NaN,925537,No
2,VK3KGA9M,Male,31,RG270,Salaried,X1,14,No,215949,No
3,TT8RPZVC,Male,29,RG272,Other,X1,33,No,868070,No
4,SHQZEYTZ,Female,29,RG270,Other,X1,19,No,657087,No

In [1153]:
dftest["Sex"] = dftest["Gender"].map({"Male" : 0 , "Female" : 1})
dftest["Active"] = dftest["Is_Active"].map({"No" : 0 , "Yes" : 1})
dftest["Job"] = dftest["Occupation"].map({"Self_Employed" : 0 , "Salaried" : 1, "Other" : 2, "Entrepreneur" : 3})
dftest["Ch_Code"] = dftest["Channel_Code"].map({"X1" : 0 , "X2" : 1, "X3" : 2, "X4" : 3})
dftest = dftest.dropna(subset=["Credit_Product"], axis=0)
dftest["Cred_Product"] = dftest["Credit_Product"].map({"No" : 0 , "Yes" : 1})



dftest = dftest.drop("ID", axis=1)
dftest = dftest.drop("Gender", axis=1)
dftest = dftest.drop("Is_Active", axis=1)
dftest = dftest.drop("Occupation", axis=1)
dftest = dftest.drop("Channel_Code", axis=1)
dftest = dftest.drop("Credit_Product", axis=1)

dftest["Region_Code"] = pd.to_numeric(dftest["Region_Code"].str.replace("RG", ""), errors="coerce")


dftest.head()

,Age,Region_Code,Vintage,Avg_Account_Balance,Sex,Active,Job,Ch_Code,Cred_Product
0,29,254,25,742366,0,0,2,0,1
2,31,270,14,215949,0,0,1,0,0
3,29,272,33,868070,0,0,2,0,0
4,29,270,19,657087,1,0,2,0,0
5,60,268,110,4624262,0,0,0,2,0

In [1154]:
dftest["Is_Lead"] = model.predict(dftest)
dftest.isna().sum()

Age                    0
Region_Code            0
Vintage                0
Avg_Account_Balance    0
Sex                    0
Active                 0
Job                    0
Ch_Code                0
Cred_Product           0
Is_Lead                0
dtype: int64

In [1155]:
dftest["Is_Lead"] = dftest["Is_Lead"].map({0 : "No" , 1 : "Yes"})

In [1156]:
print("Out of +92k clients the question Is the client a lead is answered as follows" ,dftest["Is_Lead"].value_counts())

Out of +92k clients the question Is the client a lead is answered as follows Is_Lead
No     90038
Yes     2752
Name: count, dtype: int64