In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df1 = pd.read_csv("train_labeled.csv", delimiter=';')
df2 = pd.read_csv("prediction_unlabeled.csv", delimiter=';')

In [12]:
df2.head()

,ID,Maker,Genmodel,Genmodel_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,...,Door_num,issue,issue_id,Adv_day,breakdown_date,repair_complexity,repair_cost,repair_hours,repair_date,value
0,1,Citroen,Grand C4 Picasso,18_24,2018,6,Black,2008.0,MPV,98121,...,5.0,Engine Issue,1,21,2018-06-21,2,1138.000,16.0,2018-06-25,3886.980722
1,2,Citroen,C3 Picasso,18_10,2017,8,Blue,2011.0,MPV,29000,...,5.0,Electrical Issue,2,5,2017-08-05,2,28.990,1.0,2017-08-05,4270.159395
2,3,Fiat,Doblo,28_12,2018,4,Grey,2003.0,Estate,142321,...,5.0,Electrical Issue,2,7,2018-04-07,1,11.780,0.5,2018-04-07,841.012246
3,4,Ford,B-Max,29_1,2018,3,Black,2017.0,MPV,320,...,5.0,Electrical Issue,3,11,2018-03-11,1,92.455,1.0,2018-03-11,13765.248112
4,5,Honda,CR-V,34_3,2018,2,Blue,2002.0,SUV,161000,...,5.0,Flat Tyres,0,8,2018-02-08,1,20.405,1.0,2018-02-08,1281.014028

In [4]:
df1.head()

,ID,Maker,Genmodel,Genmodel_ID,Adv_year,Adv_month,Color,Reg_year,Bodytype,Runned_Miles,...,issue,issue_id,Adv_day,breakdown_date,repair_complexity,repair_cost,repair_hours,repair_date,value,Label
0,16130,Ford,Ka+,29_24,2018,4,Blue,2017.0,Hatchback,1636,...,Tyre Alignment,0,15,2018-04-15,1,10.749000,0.500000,2018-04-15,7116.045727,0
1,16131,Ford,Edge,29_5,2018,5,Blue,2016.0,SUV,9820,...,Radiator Leaking,0,20,2018-05-20,1,519.900000,2.000000,2018-05-20,22790.624277,0
2,16132,Honda,CR-V,34_3,2018,8,Grey,2012.0,SUV,38500,...,Sensor Malfunction,0,26,2018-08-26,1,3059.099027,2172.572165,2018-08-29,11158.396445,1
3,16133,Ford,Kuga,29_25,2018,5,Silver,2012.0,SUV,43445,...,Gear Box Issue,0,6,2018-05-06,1,571.012064,437.382279,2018-05-25,9492.344018,1
4,16134,Honda,CR-V,34_3,2018,6,Grey,2018.0,SUV,7491,...,Alternator Failing,0,5,2018-06-05,1,479.980000,2.000000,2018-06-05,20903.668754,0

In [10]:
df1 = df1.drop([' Genmodel', 'Color'], axis = 1, index=None)

In [11]:
df1.head()

,ID,Genmodel_ID,Adv_year,Adv_month,Reg_year,Bodytype,Runned_Miles,Engin_size,Gearbox,Fuel_type,...,issue,issue_id,Adv_day,breakdown_date,repair_complexity,repair_cost,repair_hours,repair_date,value,Label
0,16130,29_24,2018,4,2017.0,Hatchback,1636,1.2L,Manual,Petrol,...,Tyre Alignment,0,15,2018-04-15,1,10.749000,0.500000,2018-04-15,7116.045727,0
1,16131,29_5,2018,5,2016.0,SUV,9820,2.0L,Manual,Diesel,...,Radiator Leaking,0,20,2018-05-20,1,519.900000,2.000000,2018-05-20,22790.624277,0
2,16132,34_3,2018,8,2012.0,SUV,38500,2.2L,Automatic,Diesel,...,Sensor Malfunction,0,26,2018-08-26,1,3059.099027,2172.572165,2018-08-29,11158.396445,1
3,16133,29_25,2018,5,2012.0,SUV,43445,2.0L,Manual,Diesel,...,Gear Box Issue,0,6,2018-05-06,1,571.012064,437.382279,2018-05-25,9492.344018,1
4,16134,34_3,2018,6,2018.0,SUV,7491,1.6L,Manual,Diesel,...,Alternator Failing,0,5,2018-06-05,1,479.980000,2.000000,2018-06-05,20903.668754,0

In [14]:
df2 = df2.drop(['Maker', ' Genmodel', 'Color'], axis = 1, index=None)

In [15]:
df2.head()

,ID,Genmodel_ID,Adv_year,Adv_month,Reg_year,Bodytype,Runned_Miles,Engin_size,Gearbox,Fuel_type,...,Door_num,issue,issue_id,Adv_day,breakdown_date,repair_complexity,repair_cost,repair_hours,repair_date,value
0,1,18_24,2018,6,2008.0,MPV,98121,2.0L,Automatic,Diesel,...,5.0,Engine Issue,1,21,2018-06-21,2,1138.000,16.0,2018-06-25,3886.980722
1,2,18_10,2017,8,2011.0,MPV,29000,1.6L,Manual,Petrol,...,5.0,Electrical Issue,2,5,2017-08-05,2,28.990,1.0,2017-08-05,4270.159395
2,3,28_12,2018,4,2003.0,Estate,142321,1.9L,Manual,Diesel,...,5.0,Electrical Issue,2,7,2018-04-07,1,11.780,0.5,2018-04-07,841.012246
3,4,29_1,2018,3,2017.0,MPV,320,1.0L,Manual,Petrol,...,5.0,Electrical Issue,3,11,2018-03-11,1,92.455,1.0,2018-03-11,13765.248112
4,5,34_3,2018,2,2002.0,SUV,161000,2.0L,Manual,Petrol,...,5.0,Flat Tyres,0,8,2018-02-08,1,20.405,1.0,2018-02-08,1281.014028